.pagina {
  min-height: 100vh;
  background-image: url("/imagenes/fondo pagina.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
  background-color: aliceblue;
  width: 400px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  
}
#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
}
body{
  background-color: rgb(212, 234, 253);
}